<div class="container form-container">
        <div class="row m-5">
            <div class="col-md-6 col-lg-4">
                <form id="generateToken">
                    <div class="form-group">
                        <label for="tokenEmail">Email</label>
                        <input type="text" class="form-control" id="tokenEmail" name="tokenEmail" placeholder="Enter Email to generate Token">
                    </div>
                    <button type="submit" class="btn btn-primary">Generate Token</button>
                </form>
            </div>
        </div>
    </div>